@charset "utf-8";

/* css reset */
*{margin:0;padding:0;}
*{tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0);-ms-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body{-webkit-tap-highlight-color: rgba(0,0,0,0);}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
ul,ol,li{list-style:none;}
em,i{font-style:normal;}
fieldset,img{border:none;}
input,img{vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
[hidden],template {display: none;}
mark {background: #ff0;}
address,caption,cite,code,dfn,em,th,var,optgroup {font-style: normal;font-weight: normal;}
a {background: transparent;}
a:focus {outline: thin dotted;}
a:active,a:hover {outline: 0;}
a:link,a:visited,ins {text-decoration: none;}
sub,sup {font-size: 75%; line-height: 0; position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
button,input,select,textarea {font-family: inherit;font-size: 100%;}
button,input{-webkit-appearance: none; border-radius: 0;}
button[disabled],html input[disabled] {cursor: default;}
* {outline: none;}
textarea {resize: none;}
.fl { float: left; }
.fr { float: right; }
.clearfix:after{display:block;content:'';clear:both;visibility:hidden;}

body {
	background-color: rgba(78,78,86,1);
	color: #6873a2;
	font-size: 16px;
	font-family: "Microsoft Yahei",Arial,sans-serif;
}

.mainContaier {
	width: 90%;
	min-width: 1730px;
	margin: 0 auto;
	position: relative;
}

.title-time {
	margin: 10px 0;
	color: #5b7896;
	font-size: 14px;
}

.top-block {
	border-top: 3px solid #30c5cc;
	padding: 45px 35px;
	background-color: #1d2026;
	position: relative;
}

.bottom-block {
	border-top: 3px solid #4c5868;
	padding: 35px;
	background-color: rgba(33,36,47,.9);
	position: relative;
}

.total-layer {
	width: 330px;
	height: 340px;
	padding: 35px 40px;
	background-color: #282937;
	position: absolute;
	right: 40px;
	bottom: 50px;
	font-size: 20px;
}

.total-layer > div {
	margin-bottom: 30px;
}

.total-layer > div:last-child {
	margin-bottom: 0;
}

.total-layer .title {
	margin-bottom: 8px;
	font-size: 24px;
}

.total-layer .amount {
	color: #b5bad2;
	font-size: 32px;
	font-family: Arial;
}

.main-amount-cont {
	margin-bottom: 25px;
}

.main-amount-num {
	min-width: 750px;
	margin-left: 250px;
	margin-right: 60px;
	font-size: 135px;
	line-height: 150px;
	color: #048df5;
	text-align: center;
	/*background-image: -webkit-linear-gradient(left, #35dee2, #048df5);
	background-image:    -moz-linear-gradient(left, #35dee2, #048df5);
	background-image:     -ms-linear-gradient(left, #35dee2, #048df5);
	background-image:      -o-linear-gradient(left, #35dee2, #048df5);
	background-image:         linear-gradient(left, #35dee2, #048df5);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.ani-scroll-num ul {
	overflow: hidden;
	position: relative;
	width: 80px;
	height: 150px;
	display: inline-block;
}

.separator {
	display: inline-block;
}

.ani-scroll-num li {
	position: absolute;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

.main-title {
	font-size: 30px;
	font-weight: bold;
}

.amount-summary {
	font-size: 22px;
}

.amount-summary div:first-child {
	margin-left: 20px;
}

.amount-summary div:last-child {
	margin-left: 270px;
}

.amount-summary .money {
	font-family: Arial;
	color: #e4e7db;
	font-size: 24px;
}

.percent-completion-block .sub-title {
	color: #048df5;
	font-size: 24px;
}

.percent-completion-block .percent {
	color: #35dee2;
	font-size: 28px;
	font-family: Arial;
}

.pay-info-tb th {
	text-align: left;
	padding: 30px 0 0 15px;
}

.pay-info-tb td {
	color: #35dee2;
	font-size: 32px;
	padding: 30px 0 0 15px;
	vertical-align: bottom;
	font-family: Arial;
}

.hot-sale-list {
	margin-top: 20px;
}

.hot-sale-item {
	height: 65px;
	width: 540px;
	background-color: #283147;
	margin-bottom: 5px;
	color: #c6cbe4;
}

.sale-container {
	height: 100%;
}

.hot-sale-item:hover .sale-container {
	-webkit-transform: rotateX(360deg);
	   -moz-transform: rotateX(360deg);
	    -ms-transform: rotateX(360deg);
	     -o-transform: rotateX(360deg);
	        transform: rotateX(360deg);

    -webkit-transition: all 1.5s ease;
       -moz-transition: all 1.5s ease;
        -ms-transition: all 1.5s ease;
         -o-transition: all 1.5s ease;
            transition: all 1.5s ease;
}

.hot-sale-item .sort-num {
	width: 30px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}

.hot-sale-item img {
	width: 65px;
	height: 65px;
}

.hot-sale-item .title {
	display: inline-block;
	width: 340px;
	padding-left: 5px;
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
}

.hot-sale-item .total-sale {
	text-align: right;
	width: 80px;
	display: inline-block;
	vertical-align: middle;
	color: #35dee2;
	font-size: 20px;
	font-family: Arial;
}

.chart-legend {
	position: relative;
	left: 85px;
	top: 50px;
}

.left-legend {
	color: #048bf5;
}

.right-legend {
	color: #35dee2;
	margin-right: 165px;
}

.left-legend .legend-title {
	border-bottom: 1px solid #048bf5;
}

.right-legend .legend-title {
	border-bottom: 1px dashed #35dee2;
}

.chart-legend .legend-title {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	line-height: 20px;
	padding-bottom: 5px;
}

.chart-legend .legend-value {
	font-size: 50px;
}

.bottom-block .swiper-container {
	height: 480px;
}

.bottom-block .swiper-pagination-bullet {
	width: 13px;
	height: 13px;
	background: #999;
}

.bottom-block .swiper-pagination-bullet-active {
	background: #048bf5;
}

.appWeightBlock {
	position: relative;
}

.appWeightBlock .appWeightState {
	position: absolute;
	text-align: center;
	top: 40px;
	left: 30px;
}

.appWeightBlock .appWeightState .title {
	font-size: 20px;
	display: inline-block;
}

.appWeightBlock .appWeightState .value {
	font-size: 22px;
	color: #3a7bdf;
	display: inline-block;
}

.com-per-bar {
	width: 230px;
	height: 7px;
	border-radius: 7px;
	background-color: #656d9a;
	margin-top: 15px;
}

.com-per-bar span {
	display: inline-block;
	height: 7px;
	border-radius: 7px;
	background-color: #30c5cc;
	position: absolute;
}

.header {
	text-align: center;
	font-size: 50px;
	height: 90px;
	line-height: 90px;
	color: #35dee2;
	opacity: 0.8;
}

.footer {
	height: 50px;
	line-height: 50px;
}

.lock-oper-block {
	position: absolute;
	right: 20px;
	top: 10px;
}

/*  排行列表页  */

.sort-item {
	height: 50px;
	line-height: 50px;
	background-color: #232837;
	margin-top: 5px;
}

.sort-item.head {
	background-color: #2e3242;
}

.sort-item .td_sortnum {
	width: 80px;
	font-family: Arial;
	font-size: 22px;
}

.sort-item .td_shopname {
	width: 320px;
	font-size: 22px;
}

.sort-item .td_sales {
	width: 120px;
	color: #33d3d9;
	font-size: 24px;
	font-family: Arial;
}

.sort-item span {
	color: #b5bad2;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}

.sort-item.head span {
	color: #6873a2;
	font-family: "Microsoft Yahei",Arial,sans-serif;
	font-size: 22px;
}

.sort-item.current {
	background-color: #183a5c;
}

.sort-item.current span {
	color: #33d3d9;
}

.sort-list {
	width: 531px;
	margin-right: 25px;
}

.sort-list:last-child {
	margin-right: 0;
}

.category-sub-title {
	font-size: 24px;
	font-weight: bold;
	margin: 25px 0 15px 0;
}

.category-main-title {
	font-size: 30px;
	font-weight: bold;
}

.category-main-title span {
	font-size: 18px;
}

.wallet-icon {
	background: url(bg-icons.png) no-repeat;
	background-position: -24px 0;
	width: 21px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

.house-icon {
	background: url(bg-icons.png) no-repeat;
	background-position: 0 0;
	width: 21px;
	height: 21px;
	display: inline-block;
	vertical-align: middle;
}

.thumb-icon {
	background: url(bg-icons.png) no-repeat;
	background-position: -48px 0;
	width: 21px;
	height: 21px;
	display: inline-block;
	vertical-align: middle;
}